@import "./variables";
@import "./mixins";

.btn{
  min-width: 276px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  background-color: $blue;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 1px;
  text-transform: uppercase;

  @media screen and (max-width: 991px){
    min-width: 246px;
    height: 44px;
    font-size: 14px;
    line-height: 20px;
  }

  &:focus,
  &:hover,
  &:active{
    background-color: $darkblue;
  }
}

.btn a {
  color: $white;
}

.card-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  h2:nth-child(1) {
    color: $darkblue;
  }

  span:nth-child(2) {
    color: $secondary;
  }

  &__number{
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 6px;

    @media screen and (max-width: 991px){
      @include semi-bold-24;
    }

  }

  &__text{
    @include regular-18;
    text-align: center;

    @media screen and (max-width: 991px){
      @include regular-14;
    }
  }
}