@mixin desktop-headline {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
@mixin mobile-headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

@mixin regular-14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@mixin desktop-regular-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
@mixin mobile-regular-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
@mixin regular-18 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@mixin semi-bold-16 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
@mixin semi-bold-18 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
@mixin semi-bold-24 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}












