@import "./variables";
@import "./mixins.scss";

*{
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans';
  font-style: normal;
}

ul{
  margin: 0;
  padding: 0;
}

button{
  border: none;
  outline: none;
}

i{
  display: block;
}

.G-container{
    max-width: 1248px;
    margin: auto;

    @media screen and (max-width: 1400px){
      max-width: calc(100% - 80px);
      }

    @media screen and (max-width: 991px){
      max-width: calc(100% - 40px);
    }
  }

.main-title{
  @include desktop-headline;
  letter-spacing: 0.16em;
  text-transform: uppercase;

  @media screen and (max-width: 991px){
    @include mobile-headline;
    margin-bottom: 24px;
  }
}

.main-container{
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 991px){
    flex-direction: column;
  }
}