<html lang="ru">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sevburgeo</title>
    <link rel="stylesheet" href="scss/style.scss">
    <script src="src/index.js" type="module" defer></script>
</head>
<body>

<div class="G-header">
    <div class="G-container">

        <header class="header-top">

            <div class="container-logo">
                <img class="header__logo" src="/static/images/logo-primary-white.svg" alt="logo">
            </div>

            <nav class="nav-top">
                <ul>
                    <li class="nav-top__item">
                        <a href="#services" class="nav-top__link">Услуги</a>
                    </li>
                    <li class="nav-top__item">
                        <a href="#technique" class="nav-top__link">Техника</a>
                    </li>
                    <li class="nav-top__item">
                        <a href="#work" class="nav-top__link">Работы</a>
                    </li>
                    <li class="nav-top__item">
                        <a href="#company" class="nav-top__link">О компании</a>
                    </li>
                    <li class="nav-top__item">
                        <a href="#jobs" class="nav-top__link">Вакансии</a>
                    </li>
                    <li class="nav-top__item">
                        <a href="#partners" class="nav-top__link">ПартнЕры</a>
                    </li>
                    <li class="nav-top__item" >
                        <a href="#" class="nav-top__link contacts">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header-mobile">
                <div class="header-mobile__solid"></div>
                <div class="header-mobile__solid"></div>
            </div>
        </header>

    </div>
</div>





<section class="header">
    <div class="G-container">
        <div class="header-wrapper">

            <div class="header__info">
                <h1 class="header__title">Севбургео</h1>
                <span class="header__text">Надежный партнер на рынке
              <br>
           твердых полезных ископаемых России</span>
            </div>
        </div>
    </div>
</section>
<!-- /.header -->

<main class="services" id="services">
    <div class="G-container">
        <div class="main-container">
            <h2 class="main-title services__title">Наши услуги</h2>
            <div class="services-cards">

                <div class="services-card">
                    <img class="services-card__img" src="/static/images/services-card-img.svg" alt="logo">
                    <h4 class="services-card__title">Бурение скважин</h4>
                    <ul>
                        <li class="services-card__item">Механическое колонковое бурение геологических скважин</li>
                        <li class="services-card__item">Бурение гидрогеологических скважин, включая водозаборных
                            скважин
                        </li>
                        <li class="services-card__item">Бурение мониторинговых
                            скважин
                        </li>
                    </ul>
                </div>

                <div class="services-card">
                    <img class="services-card__img" src="/static/images/services-card-img.svg" alt="logo">
                    <h4 class="services-card__title">Соблюдение нормативных требований</h4>
                    <ul>
                        <li class="services-card__item">Написание отчётов 43-101</li>
                        <li class="services-card__item">Предварительные исследования по
                            проекту и/или техническое обоснование
                        </li>
                        <li class="services-card__item">Консультирование и контролирование
                            в части соблюдения требований ГКЗ и стандартов NI 43-101
                        </li>
                    </ul>
                </div>

                <div class="services-card">
                    <img class="services-card__img" src="/static/images/services-card-img.svg" alt="logo">
                    <h4 class="services-card__title">Вспомогательные услуги при геологоразведочных работах</h4>
                    <ul>
                        <li class="services-card__item">Строительство и обслуживание зимников</li>
                        <li class="services-card__item">Строительство полевого лагеря, вахтового поселка</li>
                        <li class="services-card__item">Обработка и подготовка керновых проб</li>
                        <li class="services-card__item">Управление вахтовым поселком и
                            материально–техническое снабжением
                        </li>
                        <li class="services-card__item">Проходка канав</li>
                    </ul>
                </div>

                <div class="services-card">
                    <img class="services-card__img" src="/static/images/services-card-img.svg" alt="logo">
                    <h4 class="services-card__title">Геологические услуги</h4>
                    <ul>
                        <li class="services-card__item">Документирование керна, канав</li>
                        <li class="services-card__item">Литогеохимические работы</li>
                        <li class="services-card__item">
                            Анализ архивных материалов
                        </li>
                        <li class="services-card__item">•
                            Рекогносцировочные работы
                        </li>
                        <li class="services-card__item">•
                            Картирование
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</main>
<!-- /.main -->

<section class="technique" id="technique">

    <div class="G-container">
        <div class="main-container">
            <h2 class="main-title technique__title">Техника</h2>
            <div class="technique__cards">
                {{> card class="technique__card" number="4" text="Буровые установки" }}
                {{> card class="technique__card" number="2" text="Буровых здания" }}
                {{> card class="technique__card" number="18" text="Вагон-домов на санях" }}
                {{> card class="technique__card" number="1" text="Сани под буровой инструмент" }}
                {{> card class="technique__card" number="1" text="ЗУМПФ" }}
                {{> card class="technique__card" number="3" text="ДЭС"}}
                {{> card class="technique__card" number="4" text="Автомобили разного назначения" }}
                {{> card class="technique__card" number="1" text="Контейнер под технический склад" }}
                {{> card class="technique__card" number="100%" text="комплект бурового инструмента и химреагентов" }}
            </div>
        </div>

    </div>

    <img class="technique__img" src="/static/images/technique-bg.svg" alt="technique">
</section>
<!-- /.technique -->


<section class="work" id="work">

    <div class="G-container">
        <div class="main-container">
            <h2 class="main-title work__title">Наши работы</h2>
            <div class="work__info">
                <p class="work__text">Нами наработан обширный опыт в планировании, организации
                    и проведении буровых работ в различных климатических условиях от Арктики до Волжских степей.</p>
                <div class="work__cards">
                    {{> card class="work__card" number="40+" text="проектов" }}
                    {{> card class="work__card" number="20" text="регионов" }}
                    {{> card class="work__card" number="272.2 км" text="пробурено всего" }}
                </div>
            </div>
        </div>

        <img class="work__map" src="/static/images/map-primary.svg" alt="technique">

        <div class="news">
            <div class="news-card">
                <img class="news-card__img" src="/static/images/news-img-one.png" alt="news image">
                <div class="news-card__info">
                    <h3 class="news-card__title">Повариантный и Генеральный подсчет запасов. Озеро Маракан</h3>
                    <span class="news-card__date">ФГУ "ГКЗ" 2019 год</span>
                    <p class="news-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>

            <div class="news-card">
                <img class="news-card__img" src="/static/images/news-img-two.png" alt="news image">
                <div class="news-card__info">
                    <h3 class="news-card__title">Повариантный и Генеральный подсчет запасов. Озеро Маракан</h3>
                    <span class="news-card__date">ФГУ "ГКЗ" 2019 год</span>
                    <p class="news-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. /t Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiatnulla pariatur. </p>
                </div>
            </div>
            {{> button name="Смотреть еще"}}
        </div>
    </div>
</section>
<!-- /.work -->

<section class="company" id="company">

    <div class="G-container">
        <div class="main-container">
            <h2 class="main-title company__title">О компании</h2>
            <div class="company__info">

                <p class="company__text">Высочайшие стандарты профессионализма, безопасности и эффективности наши
                    главные принципы при планировании
                    и организации проектов поисковых и разведочных работ.</p>

                <p class="company__subtitle">Компанией «Севбургео» управляют профессионалы с огромным опытом
                    геологоразведочных работ в удаленных труднодоступных районах всей страны.
                </p>
                <p class="company__subtitle">
                    Высококвалифицированный персонал, современное оборудование и соответствие международным стандартам —
                    гарантия эффективного, безопасного и экономически выгодного выполнения геологоразведочных работ
                    наших заказчиков.
                </p>


            </div>
        </div>
        <div class="company__cards">
            {{> card class="company__card" number="1 578" text="проектов реализовано за 50 лет" }}
            {{> card class="company__card" number="486" text="сотрудников работают в штате компании" }}
            {{> card class="company__card" number="1 279 000" text="погонных метров керна задокументировано" }}
            {{> card class="company__card" number="4 720" text="лет совокупный опыт наших сотрудников" }}
            {{> card class="company__card" number="75 000" text="проб ЛГХ отобрано" }}
            {{> card class="company__card" number="288 700" text="метров горных выработок (канав) задокументировано" }}
        </div>
    </div>
</section>
<!-- /.company -->

<section class="jobs" id="jobs">

    <div class="G-container">
        <div class="main-container">
            <h2 class="main-title jobs__title">Вакансии</h2>

            <ul class="jobs__info" uk-accordion="multiple: true">
                <li class="jobs__accordion uk-open">
                    <div class="uk-accordion-title">
                        <span class="jobs__info__title">Главный инженер</span>
                    </div>
                    <div class="uk-accordion-content">
                        <div class="jobs-content__wrapper">

                            <ul>
                                <h4 class="jobs__list">Требования</h4>
                                <li class="jobs__list__item">Высшее профильное образование</li>
                                <li class="jobs__list__item">Отличное знание законодательной базы</li>
                                <li class="jobs__list__item">Опыт работы госконтрактами (44 ФЗ)</li>
                                <li class="jobs__list__item">Хорошие организаторские способности,
                                    ответственность, инициативность
                                </li>

                            </ul>

                            <ul>
                                <h4 class="jobs__list">Обязанности</h4>
                                <li class="jobs__list__item">Инженерное сопровождение строящихся объектов
                                    компании;
                                </li>
                                <li class="jobs__list__item">Организация и координация производства
                                    инженерно-строительных работ на объектах;
                                </li>
                                <li class="jobs__list__item">Контроль соблюдения технологии производства
                                    инженерно-строительных работ на объектах строительства (их соответствие
                                    утвержденной проектно-сметной документации, чертежам, строительным нормам и
                                    стандартам, нормам ТБ и ПБ)
                                </li>
                                <li class="jobs__list__item">Контроль исполнения графика производства работ
                                    (общий ГПР и графики работ субподрядных организаций)
                                </li>

                            </ul>

                            <ul>
                                <h4 class="jobs__list">Условия</h4>
                                <li class="jobs__list__item">Режим работы с 09.00 до 18.00</li>
                                <li class="jobs__list__item">Испытательный срок 3 месяца</li>
                                <li class="jobs__list__item">Уровень дохода обсуждается на собеседовании с
                                    руководителем
                                </li>
                                <li class="jobs__list__item">Оформление по ТК (оплачиваемый отпуск, больничный
                                    лист).
                                </li>
                            </ul>

                            {{> button class="jobs__list__button" name="Отправить резюме"}}

                        </div>
                    </div>
                </li>

                <li class="jobs__accordion">
                    <div class="uk-accordion-title">
                        <span class="jobs__info__title">Главный инженер</span>
                    </div>
                    <div class="uk-accordion-content">
                        <div class="jobs-content__wrapper">

                            <ul>
                                <h4 class="jobs__list">Требования</h4>
                                <li class="jobs__list__item">Высшее профильное образование</li>
                                <li class="jobs__list__item">Отличное знание законодательной базы</li>
                                <li class="jobs__list__item">Опыт работы госконтрактами (44 ФЗ)</li>
                                <li class="jobs__list__item">Хорошие организаторские способности,
                                    ответственность, инициативность
                                </li>

                            </ul>

                            <ul>
                                <h4 class="jobs__list">Обязанности</h4>
                                <li class="jobs__list__item">Инженерное сопровождение строящихся объектов
                                    компании;
                                </li>
                                <li class="jobs__list__item">Организация и координация производства
                                    инженерно-строительных работ на объектах;
                                </li>
                                <li class="jobs__list__item">Контроль соблюдения технологии производства
                                    инженерно-строительных работ на объектах строительства (их соответствие
                                    утвержденной проектно-сметной документации, чертежам, строительным нормам и
                                    стандартам, нормам ТБ и ПБ)
                                </li>
                                <li class="jobs__list__item">Контроль исполнения графика производства работ
                                    (общий ГПР и графики работ субподрядных организаций)
                                </li>

                            </ul>

                            <ul>
                                <h4 class="jobs__list">Условия</h4>
                                <li class="jobs__list__item">Режим работы с 09.00 до 18.00</li>
                                <li class="jobs__list__item">Испытательный срок 3 месяца</li>
                                <li class="jobs__list__item">Уровень дохода обсуждается на собеседовании с
                                    руководителем
                                </li>
                                <li class="jobs__list__item">Оформление по ТК (оплачиваемый отпуск, больничный
                                    лист).
                                </li>
                            </ul>

                            {{> button class="jobs__list__button" name="Отправить резюме"}}

                        </div>
                    </div>
                </li>

                <li class="jobs__accordion">
                    <div class="uk-accordion-title">
                        <span class="jobs__info__title">Главный инженер</span>
                    </div>
                    <div class="uk-accordion-content">
                        <div class="jobs-content__wrapper">

                            <ul>
                                <h4 class="jobs__list">Требования</h4>
                                <li class="jobs__list__item">Высшее профильное образование</li>
                                <li class="jobs__list__item">Отличное знание законодательной базы</li>
                                <li class="jobs__list__item">Опыт работы госконтрактами (44 ФЗ)</li>
                                <li class="jobs__list__item">Хорошие организаторские способности,
                                    ответственность, инициативность
                                </li>

                            </ul>

                            <ul>
                                <h4 class="jobs__list">Обязанности</h4>
                                <li class="jobs__list__item">Инженерное сопровождение строящихся объектов
                                    компании;
                                </li>
                                <li class="jobs__list__item">Организация и координация производства
                                    инженерно-строительных работ на объектах;
                                </li>
                                <li class="jobs__list__item">Контроль соблюдения технологии производства
                                    инженерно-строительных работ на объектах строительства (их соответствие
                                    утвержденной проектно-сметной документации, чертежам, строительным нормам и
                                    стандартам, нормам ТБ и ПБ)
                                </li>
                                <li class="jobs__list__item">Контроль исполнения графика производства работ
                                    (общий ГПР и графики работ субподрядных организаций)
                                </li>

                            </ul>

                            <ul>
                                <h4 class="jobs__list">Условия</h4>
                                <li class="jobs__list__item">Режим работы с 09.00 до 18.00</li>
                                <li class="jobs__list__item">Испытательный срок 3 месяца</li>
                                <li class="jobs__list__item">Уровень дохода обсуждается на собеседовании с
                                    руководителем
                                </li>
                                <li class="jobs__list__item">Оформление по ТК (оплачиваемый отпуск, больничный
                                    лист).
                                </li>
                            </ul>

                            {{> button class="jobs__list__button" name="Отправить резюме"}}

                        </div>
                    </div>
                </li>
            </ul>



        </div>
    </div>

</section>
<!-- /.jobs -->


<section class="partners" id="partners">

    <div class="G-container">
        <div class="main-container partners__container">
            <h2 class="main-title partners__title">Партнеры</h2>
            <div class="partners__cards">
                <div class="partners__card">
                    <img src="/static/images/gexcom-icon.svg" alt="partners icon">
                </div>
                <div class="partners__card">
                    <img src="/static/images/aro-icon.svg" alt="partners icon">
                </div>
                <div class="partners__card">
                    <img src="/static/images/sber-icon.svg" alt="partners icon">
                </div>
                <div class="partners__card">
                    <img src="/static/images/gazprom-icon.svg" alt="partners icon">
                </div>
                <div class="partners__card">
                    <img src="/static/images/kardex-icon.svg" alt="partners icon">
                </div>
                <div class="partners__card">
                    <img src="/static/images/wallko-icon.svg" alt="partners icon">
                </div>
                <div class="partners__card">
                    <img src="/static/images/arla-icon.svg" alt="partners icon">
                </div>
                <div class="partners__card">
                    <img src="/static/images/boehler-icon.svg" alt="partners icon">
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.partners -->
<footer class="footer">
    <div class="G-container">
        <div class="footer-wrapper">
            <div class="footer-logo">

                <img class="footer-logo__img" src="/static/images/logo-primary-blue.svg" alt="logo">

                <button class="btn footer-button">
                    <a href="/static/images/logo-primary-blue.svg" download>Скачать презентацию</a>
                </button>

            </div>
            <div class="footer-list">
                <ul>
                    <li class="footer-list__item">
                        <a href="#">Услуги</a>
                    </li>
                    <li class="footer-list__item">
                        <a href="#">Техника</a>
                    </li>
                    <li class="footer-list__item">
                        <a href="#">Работы</a>
                    </li>
                    <li class="footer-list__item">
                        <a href="#">О компании</a>
                    </li>
                    <li class="footer-list__item">
                        <a href="#">Вакансии</a>
                    </li>
                    <li class="footer-list__item">
                        <a href="#">Партнеры</a>
                    </li>
                </ul>
            </div>
            <div class="footer-contacts">
                <span class="footer-contacts__phone">+ 7 (999) 565 09-78</span>
                <span class="footer-contacts__mail">sevburgeo@mail.com</span>
                <div class="footer-contacts__icons">
                    <img class="footer-contacts__icons__wa" src="/static/images/whatsapp-footer.svg" alt="icon whatsapp">
                    <img class="footer-contacts__icons__tg" src="/static/images/telegram-footer.svg" alt="icon telegram">
                </div>

            </div>

            <a href="/static/images/logo-primary-blue.svg" class="footer-link" download>Скачать презентацию</a>

        </div>

    </div>

</footer>
<!-- /.footer -->

<div class="overlay-contacts">


    <img src="/static/images/contacts-arrow.svg" alt="contacts arrow" class="overlay-contacts__arrow">


    <div class="overlay-contacts__info">
        <div class="overlay-contacts__item">
            <span>Мы будем рады ответить на ваши вопросы или комментарии</span>
        </div>
        <div class="overlay-contacts__item">
            <span>Телефон </span>
            <span>+ 7 (999) 565 09-78</span>
        </div>
        <div class="overlay-contacts__item">
            <span>Email</span>
            <span>sevburgeo@mail.com</span>
        </div>
        <div class="overlay-contacts__item">
            <span>Адрес</span>
            <span>Москва улица Пушкина дом 13А 3 этаж</span>
        </div>
        <div class="overlay-contacts__item">
            <span>Соц. сети</span>

                <div class="overlay-contacts__icons">
                    <img class="overlay-contacts__icons__wa" src="/static/images/whatsapp.svg" alt="icon whatsapp">
                    <img class="overlay-contacts__icons__tg" src="/static/images/telegram.svg" alt="icon telegram">
                </div>

        </div>
    </div>

</div>

<div class="mobile-menu">
    <nav class="mobile-menu__nav">
        <div class="mobile-menu__nav__wrap">
            <img class="mobile-menu-logo" src="/static/images/logo-primary-blue.svg" alt="logo">

            <div class="mobile-menu__nav__dot">
                <div></div>
                <div></div>
            </div>
        </div>
        <ul class="mobile-menu__nav__list">
            <li class="mobile-menu__nav__list__item">
                <a href="#services" class="mobile-menu__link">Услуги</a>
            </li>
            <li class="mobile-menu__nav__list__item">
                <a href="#technique" class="mobile-menu__link">Техника</a>
            </li>
            <li class="mobile-menu__nav__list__item">
                <a href="#work" class="mobile-menu__link">Работы</a>
            </li>
            <li class="mobile-menu__nav__list__item">
                <a href="#company" class="mobile-menu__link">О компании</a>
            </li>
            <li class="mobile-menu__nav__list__item">
                <a href="#jobs" class="mobile-menu__link">Вакансии</a>
            </li>
            <li class="mobile-menu__nav__list__item">
                <a href="#partners" class="mobile-menu__link">ПартнЕры</a>
            </li>
            <li class="mobile-menu__nav__list__item">
                <a href="#" class="contacts">Контакты</a>
            </li>
        </ul>
    </nav>
</div>

</body>

</html>