@import "../variables";
@import "../mixins";

.company{
  background-color: #293039;
  padding: 90px 0;

  @media screen and (max-width: 991px){
    padding: 50px 0;
  }

  &__title{
    color: $white;

    @media screen and (max-width: 991px){
      margin-bottom: 24px;
    }
  }

  &__info{
    width: 67%;
    color: $white;
    margin-bottom: 48px;

    @media screen and (max-width: 991px){
      width: 100%;
      margin-bottom: 32px;
    }
  }

  &__text{
    @include semi-bold-24;
    margin-bottom: 24px;

    @media screen and (max-width: 991px){
      @include semi-bold-18;
      margin-bottom: 24px;
    }
  }

  &__subtitle{
    @include regular-18;
    margin-bottom: 10px;

    @media screen and (max-width: 991px){
      @include mobile-regular-16;
    }
  }

  &__cards{
    display: flex;
    flex-wrap: wrap;
    outline: 3px solid #293039;
    outline-offset: -3px;

    @media screen and (max-width: 991px){
      width: 100%;
    }
  }

  &__card{
    width: 33.3%;
    min-height: 320px;
    padding-left: 70px;
    padding-right: 46px;
    border-right: 1px solid #3A3E48;
    border-bottom: 1px solid #3A3E48;

    span:nth-child(2) {
      font-size: 24px;
      line-height: 34px;

      @media screen and (max-width: 1200px){
        @include regular-14;
      }
    }

    @media screen and (max-width: 1200px){

      h2:nth-child(1) {
        font-size: 37px;
        line-height: 47px;
      }

    }

    @media screen and (max-width: 991px){
      width: 50%;
      min-height: 140px;
      padding-left: 16px;
      padding-right: 13px;
      align-items: start;

      h2:nth-child(1) {
        font-size: 20px;
        line-height: 24px;
      }

      span:nth-child(2) {
        text-align: left;
      }


    }

    h2:nth-child(1) {
      color: $white;
    }

    span:nth-child(2) {
      color: #D6DBEA;
    }

  }

}