@import "../variables";
@import "../mixins";

.footer{
  background-color: $white;
  padding: 50px 0;

  @media screen and (max-width: 991px){
    padding-top: 0;
  }

  &-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 991px){
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-logo{

    @media screen and (max-width: 991px){
      order: 1;
    }

    &__img{
      margin-bottom: 30px;

      @media screen and (max-width: 991px){
        margin-bottom: 35px;
      }

    }
  }

  &-list{

    @media screen and (max-width: 991px){
      order: 3;
      margin-bottom: 32px;
    }

    &__item{
      @include regular-18;
      margin-bottom: 12px;
    }

    &__item a{
      color: $main;
    }

  }

  &-list ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 375px;
    max-height: 125px;
    list-style-type: none;

    @media screen and (max-width: 991px){
      width: 100%;
      max-height: 140px;
    }
  }

  &-contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include semi-bold-18;
    color: $main;

    @media screen and (max-width: 991px){
      @include semi-bold-16;
      order: 2;
      align-items: flex-start;
      margin-bottom: 32px;
    }

    &__phone, &__mail{
      display: block;
      margin-bottom: 16px;
    }

    &__icons{
      display: flex;
      justify-content: space-between;
      width: 75px;
    }

  }

  &-button{

    @media screen and (max-width: 991px){
      display: none;
    }

  }

  &-link{
    display: none;

    @media screen and (max-width: 991px){
      order: 4;
      display: block;
      @include semi-bold-16;
      color: $blue;
      text-decoration: underline;

      &:hover{
        color: $blue;
        text-decoration: underline;
      }
    }

  }


};