@import "../variables";
@import "../mixins";


.G-header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.header {
  background: url("../static/images/main-screen.png") no-repeat;
  background-size: cover;
  background-position-y: 100%;
  @include desktop-headline;
  height: 820px;
  padding-top: 32px;
  padding-bottom: 142px;
  color: $white;

  @media screen and (max-width: 1200px) {
    background-position-x: center;
  }

  @media screen and (max-width: 991px) {
    height: 560px;
    padding-bottom: 217px;
  }

  @media screen and (max-width: 560px) {
    height: 450px;
  }

  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    z-index: 5;
  }

  &-top {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    z-index: 50;

    &:after{
      visibility: hidden;
      content: '';
      position: absolute;
      top: 0;
      height: 120px;
      left: 0;
      right: 0;
      background-color: $white;

      @media screen and (max-width: 560px){
        height: 110px;
      }
    }

  }

  &__logo {
    width: 220px;
    height: 38px;

    @media screen and (max-width: 991px) {
      width: 160px;
      height: 28px;
      margin-bottom: 0;
    }

  }

  &__title {
    font-weight: 700;
    font-size: 76px;
    line-height: 82px;
    color: $white;
    margin-bottom: 32px;

    @media screen and (max-width: 991px) {
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 6px;
    }
  }

  &__info {
    display: block;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    width: 560px;

    @media screen and (max-width: 991px) {
      @include semi-bold-18;
      width: 100%;
    }
  }

  &:after {
    content: '';
    position: absolute;
    width: 698px;
    height: 356px;
    left: 0px;
    top: 394px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(40, 67, 97, 0.222) 0%, rgba(40, 67, 97, 0) 90.1%);

    @media screen and (max-width: 991px) {
      width: 372px;
      height: 169px;
      left: -88px;
      top: 99px;

    }
  }

  &:before {
    content: '';
    position: absolute;
    width: 758px;
    height: 820px;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, rgba(20, 62, 100, 0.31) 0%, rgba(22, 70, 115, 0) 100%);

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &-mobile {
    display: none;

    @media screen and (max-width: 991px) {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__solid {
        width: 30px;
        height: 3px;
        background-color: $white;
        margin-bottom: 4px;
        cursor: pointer;


      }

    }
  }

}

.container-logo {
  position: relative;
  width: max-content;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/static/images/logo-primary-blue.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: all 0.2s;
  }

}

.nav {

  &-top {
    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &-top ul {
    display: flex;
    margin-top: 15px;
    list-style-type: none;

    @media screen and (max-width: 1200px) {
      @include semi-bold-16;
      display: flex;
      justify-content: space-around;
    }

  }

  &-top {

    &__item {
      @include semi-bold-18;
      text-transform: uppercase;
      margin-left: 30px;
      cursor: pointer;

      &:focus,
      &:hover,
      &:active {
        color: #C6D8F2;
      }

      @media screen and (max-width: 1200px) {
        @include regular-14;
        margin-left: 15px;
      }


    }

    &__link {
      color: $white;


    }
  }

}

.fixed {
  background-color: $white;

  &:after{
    visibility: visible;
    z-index: -1;
  }

  .container-logo {

    &:after {
      opacity: 1;
    }

    .header__logo {
      opacity: 0;
    }

  }

  .nav-top {

    .nav-top__item a{
      color: $main;
    }

  }

  .header-mobile{


    &__solid{
      background-color: $darkblue;
    }
  }

}

