@import "../variables";
@import "../mixins";

.jobs{
  background-color: $darkblue;
  padding: 70px 0;

  @media screen and (max-width: 991px){
    padding: 50px 0;
  }

  &__title{
    color: $white;
  }

  &__info{
    width: 67%;

    @media screen and (max-width: 991px){
      width: 100%;
    }

    &__title{
      display: block;
      @include semi-bold-24;
      color: $main;

      @media screen and (max-width: 991px){
        @include semi-bold-18;
      }

      &:before {
        content: "";
        width: 1.4em;
        height: 1.4em;
        margin-left: 10px;
        float: right;
        background-image: url('/static/images/jobs-arrow.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        transform: rotate(180deg);
      }

    }
  }

  &__accordion{
    margin-bottom: 16px;
    background-color: $white;

    &.uk-open {
      .jobs__info__title {
        &:before {
          transform: rotate(0);
        }
      }
    }



    .jobs__info__title {
      padding: 20px;

      &:before {
        content: "";
        width: 1.4em;
        height: 1.4em;
        margin-left: 10px;
        float: right;
        background-image: url('/static/images/jobs-arrow.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        transform: rotate(180deg);
        transition: all 0.2s;
      }
    }

    .jobs-content__wrapper {
      padding: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 991px){
      padding: 20px 16px 1px;

    }


  }

  &-content{

    &__wrapper ul{
      padding-left: 20px;
      list-style: disc;
      margin-bottom: 24px;
    }
  }

  &__list{
    @include semi-bold-18;
    color: $main;
    margin-bottom: 10px;
    margin-bottom: 10px;
    margin-left: -20px;

    @media screen and (max-width: 991px){
      @include semi-bold-16;
    }

    &__item{
      @include regular-18;
      color: $main;
      margin-bottom: 8px;

      @media screen and (max-width: 991px){
        @include mobile-regular-16;
      }


    }

    &__button{
      margin-bottom: 24px;
    }
  }
}