@import "../variables";
@import "../mixins";

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-color: $white;
  z-index: 99;

  &-logo{
    width: 160px;
    height: 30px;
  }

  &__nav{
    width: calc(100% - 40px);
    margin: auto;
    padding-top: 40px;

    &__wrap{
      margin-bottom: 50px;
    }

    &__dot{
      position: relative;
      top: -14px;
      cursor: pointer;


      div:nth-child(1) {
        position: absolute;
        right: 0;
        width: 25px;
        height: 3px;
        background-color: $blue;
        transform: rotate(-135deg);
      }

      div:nth-child(2) {
        position: absolute;
        right: 0;
        width: 25px;
        height: 3px;
        background-color: $blue;
        transform: rotate(-45deg);
      }

    }

    &__list {

      &__item{
        @include semi-bold-18;
        text-transform: uppercase;
        padding: 24px 0;
        border-bottom: 1px solid #EBF1F6;
      }

      &__item a{
        color: $main;
      }

      li:nth-child(7) {
        border-bottom: none;
      }

    }
  }
}