@import "../variables";
@import "../mixins";

.overlay-contacts{
  display: none;
  width: 720px;
  height: 1080px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 195px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $darkblue;
  z-index: 99;

  @media screen and (max-width: 991px){
    width: 100%;
    left: 0;
    padding-top: 120px;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__arrow{
    position: absolute;
    top: 50px;
    right: 70px;

    @media screen and (max-width: 991px){
      width: 24px;
      height: 24px;
      right: 20px;
    }
  }

  div:nth-child( 1 ){
    max-width: max-content;
    padding-bottom: 55px;
  }

  div:nth-child( 1 ) span{
    max-width: max-content;
  }

  &__info{

    div:nth-child(5) {
      border-bottom: none;
    }

  }

  &__item{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid #347DAD;

  }

  &__item span{
    max-width: 290px;
    color: $white;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;

    @media screen and (max-width: 991px){
      @include semi-bold-18;
      max-width: 190px;
    }
  }

  &__icons{
     display: flex;
     padding-right: 120px;

    @media screen and (max-width: 991px){
      padding-right: 50px;
    }

   }

  &__icons img{
    margin-right: 45px;

    @media screen and (max-width: 991px){
      width: 24px;
      height: 24px;
    }

  }
}