@import "../variables";
@import "../mixins";

.partners{
  background-color: $white;
  padding: 70px 0;

  &__container{
    flex-direction: column;
  }

  &__title {
    color: $main;
    margin-bottom: 30px;
  }

  &__cards{
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid #fff;
    outline-offset: -2px;

    div:nth-child(1){
      width: 66.6%;
    }

    @media screen and (max-width: 991px){

      div:nth-child(1){
        width: 100%;
      }

      div:nth-child(8){
        width: 100%;
      }

    }

  }

  &__card{
    width: 33.3%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #DBE7F0;
    border-bottom: 1px solid #DBE7F0;


    @media screen and (max-width: 991px){
      height: 260px;
      width: 50%;
      padding: 0 15px;
    }


    @media screen and (max-width: 560px){
      height: 140px;
    }

  }

}