@import "../variables";
@import "../mixins";

.services{
  background-color: $white;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 705px;

  &__title{
    color: $main;
  }

  &-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 67%;

    @media screen and (max-width: 1200px){
      width: 78%;
    }

    @media screen and (max-width: 991px){
      width: 100%;
    }

    div:nth-child(3), div:nth-child(4) {
      margin-bottom: 0;

      @media screen and (max-width: 991px){
        margin-bottom: 25px;

      }

    }

    div:nth-child(4) {
       margin-bottom: 0;

     }

    @media screen and (max-width: 991px){
      flex-direction: column;
    }

  }

  &-card{
    margin-bottom: 32px;
    padding: 1px;
    width: 48%;

    @media screen and (max-width: 991px){
      width: 100%;
      margin-bottom: 25px;
    }

    &__img{
      width: 33px;
      height: 60px;
      margin-bottom: 10px;


      @media screen and (max-width: 991px){
        width: 22px;
        height: 40px;
      }
    }

    &__title{
      @include semi-bold-18;
      color: $main;
      margin-bottom: 8px;

      @media screen and (max-width: 991px){
        @include semi-bold-16;
      }

    }

    &__item{
      @include regular-18;
      color: $secondary;
      margin-left: 25px;
      margin-bottom: 4px;

      @media screen and (max-width: 991px){
        @include mobile-regular-16;
      }

    }

    ul:nth-child(3) {
      margin-bottom: 0;
    }
  }
}