@import "../variables";
@import "../mixins";

.technique {
  background-color: $white;
  padding-top: 50px;
  padding-bottom: 50px;

  &__title {
    color: $main;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 67%;
    outline: 1px solid #fff;
    outline-offset: -1px;

    @media screen and (max-width: 991px) {
      width: 100%;
    }

  }

  &__card {
    width: 33.3%;
    min-height: 166px;
    padding-left: 16px;
    padding-right: 16px;
    border-right: 1px solid #DBE7F0;
    border-bottom: 1px solid #DBE7F0;

    @media screen and (max-width: 991px) {
      width: 50%;

    }

  }

  &__img {
    position: relative;
    width: 100%;



  }

  @media screen and (max-width: 991px) {
    border-bottom: 3px solid #DBE7F0;
    border-image: linear-gradient(to left top,#DBE7F0 40%,  $darkblue 25%);
    border-image-slice: 1;

  }
}