@import "../variables";
@import "../mixins";

.work{
  background-color: $white;
  padding-top: 50px;
  padding-bottom: 70px;

  @media screen and (max-width: 991px){
    padding-bottom: 50px;
  }


  &__title {
    color: $main;
  }

  &__text {
    color: $main;
    @include semi-bold-24;
    margin-bottom: 32px;

    @media screen and (max-width: 991px) {
      @include semi-bold-18;
      margin-bottom: 24px;
    }
  }

  &__info{
    width: 67%;

    @media screen and (max-width: 991px) {
      width: 100%;
    }

  }

  &__cards{
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  &__card{
    align-items: flex-start;
  }

  &__map{
    width: 100%;
    margin-top: 56px;
    margin-bottom: 57px;

    @media screen and (max-width: 991px) {
      margin-top: 48px;
    }
  }

}

.news{

  &-card{
    padding: 1px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;


    @media screen and (max-width: 991px) {
      flex-direction: column;
      margin-bottom: 24px;
    }


    &__img{
      width: 60%;

      @media screen and (max-width: 991px){
        width: 100%;
        margin-bottom: 16px;
      }
    }

    &__info{
      width: 35%;

      @media screen and (max-width: 991px){
        width: 100%;
      }
    }

    &__title{
      @include semi-bold-24;
      color: $main;
      margin-bottom: 12px;

      @media screen and (max-width: 991px){
        @include semi-bold-18;
        margin-bottom: 8px;
      }
    }

    &__date{
      display: block;
      @include desktop-regular-16;
      color: $secondary;
      margin-bottom: 32px;

      @media screen and (max-width: 991px){
        @include  desktop-regular-16;
        margin-bottom: 16px;
      }
    }

    &__text{
      @include regular-18;
      color: $main;

      @media screen and (max-width: 991px){
        @include mobile-regular-16;
      }


    }
  }

}